<style>
    #fat-bar {
        height: 350px;
        background-color: #7a43b6;
    }

    #main-photo-h1 {
        background: rgba(54, 25, 25, .5);
        top: 60%;
        left: 32%;
        position: absolute;
    }

    #main-photo-h1 > h1 {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 2.7vw;
        color: white;
        /*margin-left: 2%;*/
        margin-top: 2%;
        margin-bottom: 2%;
        letter-spacing: 1px;
    }

    #main-photo-h1 > h1 > span {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
        line-height: 70%;
    }

    #main-photo-h3 {
        background: rgba(54, 25, 25, .5);
        top: 73%;
        left: 26%;
        position: absolute;
    }

    #main-photo-h3 > h3 {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 1.3vw;
        color: white;
        /*margin-left: 2%;*/
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #main-photo-h3 > h3 > span {
        margin-left: 10px;
        margin-right: 10px;
        display: block;
        line-height: 120%;
    }

    #main-photo {
        position: relative;
    }
</style>
<div id="main-photo">
    <img class="img-responsive" src="../../images/foto3.jpg" alt="MainPhoto"/>
    <div class="caption post-content" id="main-photo-h1">
        <h1><span>Let's improve your site.</span></h1>
    </div>
    <div class="caption post-content" id="main-photo-h3">
        <h3><span>ClickMapActivity allows you to control user's activity on your website.</span>
            <span>Every single click will be saved and then show on sighty map for you.</span></h3>
    </div>
</div>
<div id="fat-bar"></div>