<link rel="stylesheet" type="text/css" href="css/subpages.css" media="screen"
      xmlns:ng-model="http://www.w3.org/1999/xhtml"/>

<script type="application/javascript">
    $(document).ready(function () {
        $('i.glyphicon-thumbs-up, i.glyphicon-thumbs-down').click(function () {
            var $this = $(this),
                    c = $this.data('count');
            if (!c) c = 0;
            c++;
            $this.data('count', c);
            $('#' + this.id + '-bs3').html(c);
        });
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    });
</script>
<script type="application/javascript">
    function hideCircleLoader() {
        document.getElementById("circleLoader")[0].style.display = 'none';
    }
</script>
<div class="base">
    <p class="title">
    <h1>Your subpages for {{websiteUrl}}</h1></p>
    <p class="desc">Here you can add your website's subpages and preview them statistics. You can do it by load
        subpage's
        image from your disk space.
        If you have already installed script in your website, then every 15 minutes every subpage will updates with
        new
        click activity data.</p>
</div>
<div class="container mt40" style="margin-top:6%;">
    <section class="row">

        <div ng-repeat="s in subpages">
            <article class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="panel-footer" id="title">
                            <div id="subName">
                                <h4><span ng-bind="s.name"></span></h4>
                            </div>
                            <i id="remove-icon" class="glyphicon glyphicon-remove" ng-click="deleteSubpage(s.name)"
                               title="Remove"></i>
                        </div>
                        <a ng-click="redirectToImage(s.name)" title="{{s.name}}" class="zoom"
                           data-title="{{s.name}}" data-type="image"
                           data-toggle="lightbox">
                            <img ng-src="/subpages/images/get?dateFrom={{dateFrom}}&dateTo={{dateTo}}&name={{s.name}}" alt="{{s.name}}"/>
                            <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                        </a>
                    </div>
                    <div class="panel-footer" id="stats">
                        <i id="refresh-icon" class="glyphicon glyphicon-refresh" title="Refresh click map"></i>
                        {{showDate(s.lastUpdateEpoch)}}
                        <i id="displays-icon" class="glyphicon glyphicon-flash" title="Displays"></i>
                        <div id="displays" title="Displays"><span ng-bind="s.displays"></span></div>
                    </div>
                </div>
            </article>
        </div>


        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body" id="subpage-panel">
                    <div ng-show="shouldShow">
                        <a title="Add new subpage" class="zoom"
                           data-title="Add ne subpage" data-footer="Add new subpage" data-type="image"
                           data-toggle="lightbox" ng-click="shouldShow = false">
                            <img src="../../images/blankPage.png" alt="Add new subpage"/>
                            <span class="overlay"><i class="glyphicon glyphicon-plus"></i></span>
                        </a>
                    </div>
                    <div id="subpage-form" ng-show="!shouldShow">
                        <form name="uploadForm" method="POST" action="/subpages/add" enctype="multipart/form-data">
                            <div id="file-browse">
                                <label class="btn btn-default btn-file"
                                       style="background-color: #7a43b6; color:white">
                                    Browse <input type="file" style="display: none;" name="file" file-model="file"
                                                  required>
                            </div>
                            <div id="subpage-url">
                                <label for="url">Subpage url:</label>
                                <input type="text" class="form-control" id="surl" style="width:70%"
                                       ng-model="subpageUrl" name="subpageUrl">
                            </div>
                            <div id="subpage-name">
                                <label for="url">Subpage name:</label>
                                <input type="text" class="form-control" id="url" style="width:70%"
                                       ng-model="subpageName" name="subpageName" ng-change="checkIfExists()" required>
                                <span ng-show="isSubpageExists" class="glyphicon glyphicon-remove" style="color:red">Subpage with that name already exists. Please type different.</span>
                            </div>
                            <button id="addBtn" type="submit" ng-disabled="isSubpageExists" class="btn btn-default">ADD
                                SUBPAGE
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>